* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

header {
    background-color: #39414b;
    color: white;
    padding: 15px 0;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    gap: 30px;
}

.university-logo {
    width: 100px;
    height: 100px;
}

.header-info ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #d3d3d3;
    color: #000000;
}

footer {
    background-color: #39414b;
    color: white;
    padding: 15px 0;
    margin-top: auto;
}

.footer-content {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}